{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="image/x-icon" href="{% static 'taskmanager_taskmanager_administradordetarea_1824.png' %}" rel="shortcut icon">
    {% bootstrap_css %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      {% include 'layout/header.html' %}
    </header>
    <main class="container wrapper flex-grow-1">
        <h1 class="my-4"></h1>
        <h1 class="my-4"></h1>
        <div class="card">
            <div class="card-body p-5 bg-light">
            <div class="display-4">Привет от Хекслета!</div>
            <p class="lead">Практические курсы по программированию</p>
            <hr>
            <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Узнать больше</a>
          </div>
        </div>
    </main>
    <footer>
      {% include 'layout/footer.html' %}
    </footer>
    {% bootstrap_javascript %}
  </body>
</html>