{% extends 'base.html' %}

{% block content %}
  <h1 class="my-4">
    
Статусы

  </h1>
  
<a class="btn btn-primary mb-3" href="/statuses/create/">Создать статус</a>
<table class="table table-striped">
<thead>
<tr>
  <th>ID</th>
  <th>Имя</th>
  <th>Дата создания</th>
  <th></th>
</tr>
</thead>
<tbody>

  <tr>
    <td>1</td>
    <td>статус2</td>
    <td>29.09.2024 13:42</td>
    <td>
      <a href="/statuses/1/update/">Изменить</a>
      <br>
      <a href="/statuses/1/delete/">Удалить</a>
    </td>
  </tr>

</tbody>
</table>

{% endblock %}